In [498]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')

In [499]:
order = pd.read_csv('Company X - Order Report.csv')
pc = pd.read_csv('Company X - Pincode Zones.csv')
sku = pd.read_csv('Company X - SKU Master.csv')
iv = pd.read_csv('Courier Company - Invoice.csv')
rate = pd.read_csv('Courier Company - Rates.csv')

In [500]:
order

     ExternOrderNo            SKU  Order Qty
0       2001827036  8904223818706        1.0
1       2001827036  8904223819093        1.0
2       2001827036  8904223819109        1.0
3       2001827036  8904223818430        1.0
4       2001827036  8904223819277        1.0
..             ...            ...        ...
395     2001806229  8904223818942        1.0
396     2001806229  8904223818850        1.0
397     2001806226  8904223818850        2.0
398     2001806210  8904223816214        1.0
399     2001806210  8904223818874        1.0

[400 rows x 3 columns]

In [501]:
pc

     Warehouse Pincode  Customer Pincode Zone
0               121003            507101    d
1               121003            486886    d
2               121003            532484    d
3               121003            143001    b
4               121003            515591    d
..                 ...               ...  ...
119             121003            325207    b
120             121003            303702    b
121             121003            313301    b
122             121003            173212    e
123             121003            302020    b

[124 rows x 3 columns]

In [502]:
iv

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4

In [621]:
sku

              SKU  Weight (g)
0   8904223815682         210
1   8904223815859         165
2   8904223815866         113
3   8904223815873          65
4   8904223816214         120
..            ...         ...
61  8904223819505         210
62  8904223819499         210
63  8904223819512         210
64  8904223819543         300
65     SACHETS001          10

[66 rows x 2 columns]

In [622]:
rate

,fwd_a_fixed,fwd_a_additional,fwd_b_fixed,fwd_b_additional,fwd_c_fixed,fwd_c_additional,fwd_d_fixed,fwd_d_additional,fwd_e_fixed,fwd_e_additional,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
0,29.5,23.6,33,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

In [623]:
df = pd.merge(sku,order,on='SKU',how='left')

In [624]:
df

               SKU  Weight (g)  ExternOrderNo  Order Qty
0    8904223815682         210     2001808801        1.0
1    8904223815859         165     2001820978        1.0
2    8904223815859         165     2001811363        1.0
3    8904223815859         165     2001811363        1.0
4    8904223815859         165     2001808801        1.0
..             ...         ...            ...        ...
396  8904223819512         210     2001806733        1.0
397  8904223819543         300     2001811306        1.0
398     SACHETS001          10     2001827036        1.0
399     SACHETS001          10     2001825261        1.0
400     SACHETS001          10     2001819252        1.0

[401 rows x 4 columns]

In [625]:
df['total_Weight'] = df['Order Qty']*df['Weight (g)']

In [626]:
df

               SKU  Weight (g)  ExternOrderNo  Order Qty  total_Weight
0    8904223815682         210     2001808801        1.0         210.0
1    8904223815859         165     2001820978        1.0         165.0
2    8904223815859         165     2001811363        1.0         165.0
3    8904223815859         165     2001811363        1.0         165.0
4    8904223815859         165     2001808801        1.0         165.0
..             ...         ...            ...        ...           ...
396  8904223819512         210     2001806733        1.0         210.0
397  8904223819543         300     2001811306        1.0         300.0
398     SACHETS001          10     2001827036        1.0          10.0
399     SACHETS001          10     2001825261        1.0          10.0
400     SACHETS001          10     2001819252        1.0          10.0

[401 rows x 5 columns]

In [627]:
df['total_weight_x(kg)'] = df['total_Weight']/1000

In [628]:
df

,SKU,Weight (g),ExternOrderNo,Order Qty,total_Weight,total_weight_x(kg)
0,8904223815682,210,2001808801,1.0,210.0,0.210
1,8904223815859,165,2001820978,1.0,165.0,0.165
2,8904223815859,165,2001811363,1.0,165.0,0.165
3,8904223815859,165,2001811363,1.0,165.0,0.165
4,8904223815859,165,2001808801,1.0,165.0,0.165
...,...,...,...,...,...,...
396,8904223819512,210,2001806733,1.0,210.0,0.210
397,8904223819543,300,2001811306,1.0,300.0,0.300
398,SACHETS001,10,2001827036,1.0,10.0,0.010
399,SACHETS001,10,2001825261,1.0,10.0,0.010
400,SACHETS001,10,2001819252,1.0,10.0,0.010

In [629]:
df.drop(['total_Weight'],axis=1,inplace=True)

In [630]:
df

               SKU  Weight (g)  ExternOrderNo  Order Qty  total_weight_x(kg)
0    8904223815682         210     2001808801        1.0               0.210
1    8904223815859         165     2001820978        1.0               0.165
2    8904223815859         165     2001811363        1.0               0.165
3    8904223815859         165     2001811363        1.0               0.165
4    8904223815859         165     2001808801        1.0               0.165
..             ...         ...            ...        ...                 ...
396  8904223819512         210     2001806733        1.0               0.210
397  8904223819543         300     2001811306        1.0               0.300
398     SACHETS001          10     2001827036        1.0               0.010
399     SACHETS001          10     2001825261        1.0               0.010
400     SACHETS001          10     2001819252        1.0               0.010

[401 rows x 5 columns]

In [631]:
df.groupby('ExternOrderNo').agg({'total_weight_x(kg)': 'sum'})

               total_weight_x(kg)
ExternOrderNo
2001806210                  0.220
2001806226                  0.480
2001806229                  0.500
2001806232                  1.302
2001806233                  0.245
...                           ...
2001821995                  0.477
2001822466                  1.376
2001823564                  0.672
2001825261                  1.557
2001827036                  2.176

[124 rows x 1 columns]

In [632]:
iv_df = iv[['Order ID','AWB Code']]
iv_df

       Order ID       AWB Code
0    2001806232  1091117222124
1    2001806273  1091117222194
2    2001806408  1091117222931
3    2001806458  1091117223244
4    2001807012  1091117229345
..          ...            ...
119  2001812941  1091118551656
120  2001809383  1091117614452
121  2001820978  1091120922803
122  2001811475  1091121844806
123  2001811305  1091121846136

[124 rows x 2 columns]

In [633]:
df.tail()

               SKU  Weight (g)  ExternOrderNo  Order Qty  total_weight_x(kg)
396  8904223819512         210     2001806733        1.0                0.21
397  8904223819543         300     2001811306        1.0                0.30
398     SACHETS001          10     2001827036        1.0                0.01
399     SACHETS001          10     2001825261        1.0                0.01
400     SACHETS001          10     2001819252        1.0                0.01

In [634]:
df.isnull().sum()

SKU                   0
Weight (g)            0
ExternOrderNo         0
Order Qty             0
total_weight_x(kg)    0
dtype: int64

In [635]:
x_sku_new_grouped = df.groupby('ExternOrderNo').agg({'total_weight_x(kg)':'sum'})

In [636]:
x_sku_new_grouped.reset_index(inplace = True)

In [637]:
x_sku_new_grouped

     ExternOrderNo  total_weight_x(kg)
0       2001806210               0.220
1       2001806226               0.480
2       2001806229               0.500
3       2001806232               1.302
4       2001806233               0.245
..             ...                 ...
119     2001821995               0.477
120     2001822466               1.376
121     2001823564               0.672
122     2001825261               1.557
123     2001827036               2.176

[124 rows x 2 columns]

In [638]:
x_sku_new_grouped.rename(columns={'ExternOrderNo':'Order ID'},inplace=True)

In [639]:
x_sku_new_grouped

       Order ID  total_weight_x(kg)
0    2001806210               0.220
1    2001806226               0.480
2    2001806229               0.500
3    2001806232               1.302
4    2001806233               0.245
..          ...                 ...
119  2001821995               0.477
120  2001822466               1.376
121  2001823564               0.672
122  2001825261               1.557
123  2001827036               2.176

[124 rows x 2 columns]

In [640]:
df1=pd.merge(iv_df,x_sku_new_grouped,on='Order ID',how='left')
df1

       Order ID       AWB Code  total_weight_x(kg)
0    2001806232  1091117222124               1.302
1    2001806273  1091117222194               0.615
2    2001806408  1091117222931               2.265
3    2001806458  1091117223244               0.700
4    2001807012  1091117229345               0.240
..          ...            ...                 ...
119  2001812941  1091118551656               0.500
120  2001809383  1091117614452               0.607
121  2001820978  1091120922803               0.515
122  2001811475  1091121844806               0.689
123  2001811305  1091121846136               0.750

[124 rows x 3 columns]

In [641]:
df1['Weight Slab X(KG)']=np.ceil(df['total_weight_x(kg)']/0.5)*0.5
df1

       Order ID       AWB Code  total_weight_x(kg)  Weight Slab X(KG)
0    2001806232  1091117222124               1.302                0.5
1    2001806273  1091117222194               0.615                0.5
2    2001806408  1091117222931               2.265                0.5
3    2001806458  1091117223244               0.700                0.5
4    2001807012  1091117229345               0.240                0.5
..          ...            ...                 ...                ...
119  2001812941  1091118551656               0.500                0.5
120  2001809383  1091117614452               0.607                0.5
121  2001820978  1091120922803               0.515                0.5
122  2001811475  1091121844806               0.689                0.5
123  2001811305  1091121846136               0.750                0.5

[124 rows x 4 columns]

In [642]:
df1['Total C Weight(KG)']=iv['Charged Weight']

In [643]:
df1

,Order ID,AWB Code,total_weight_x(kg),Weight Slab X(KG),Total C Weight(KG)
0,2001806232,1091117222124,1.302,0.5,1.30
1,2001806273,1091117222194,0.615,0.5,1.00
2,2001806408,1091117222931,2.265,0.5,2.50
3,2001806458,1091117223244,0.700,0.5,1.00
4,2001807012,1091117229345,0.240,0.5,0.15
...,...,...,...,...,...
119,2001812941,1091118551656,0.500,0.5,0.73
120,2001809383,1091117614452,0.607,0.5,0.50
121,2001820978,1091120922803,0.515,0.5,0.50
122,2001811475,1091121844806,0.689,0.5,0.50
123,2001811305,1091121846136,0.750,0.5,0.50

In [644]:
df1['Weight C Slab (KG)']=np.ceil(df1['Total C Weight(KG)']/0.5)*0.5
df1

,Order ID,AWB Code,total_weight_x(kg),Weight Slab X(KG),Total C Weight(KG),Weight C Slab (KG)
0,2001806232,1091117222124,1.302,0.5,1.30,1.5
1,2001806273,1091117222194,0.615,0.5,1.00,1.0
2,2001806408,1091117222931,2.265,0.5,2.50,2.5
3,2001806458,1091117223244,0.700,0.5,1.00,1.0
4,2001807012,1091117229345,0.240,0.5,0.15,0.5
...,...,...,...,...,...,...
119,2001812941,1091118551656,0.500,0.5,0.73,1.0
120,2001809383,1091117614452,0.607,0.5,0.50,0.5
121,2001820978,1091120922803,0.515,0.5,0.50,0.5
122,2001811475,1091121844806,0.689,0.5,0.50,0.5
123,2001811305,1091121846136,0.750,0.5,0.50,0.5

In [645]:
df1

,Order ID,AWB Code,total_weight_x(kg),Weight Slab X(KG),Total C Weight(KG),Weight C Slab (KG)
0,2001806232,1091117222124,1.302,0.5,1.30,1.5
1,2001806273,1091117222194,0.615,0.5,1.00,1.0
2,2001806408,1091117222931,2.265,0.5,2.50,2.5
3,2001806458,1091117223244,0.700,0.5,1.00,1.0
4,2001807012,1091117229345,0.240,0.5,0.15,0.5
...,...,...,...,...,...,...
119,2001812941,1091118551656,0.500,0.5,0.73,1.0
120,2001809383,1091117614452,0.607,0.5,0.50,0.5
121,2001820978,1091120922803,0.515,0.5,0.50,0.5
122,2001811475,1091121844806,0.689,0.5,0.50,0.5
123,2001811305,1091121846136,0.750,0.5,0.50,0.5

In [646]:
pc_unique = pc.drop_duplicates()
pc

     Warehouse Pincode  Customer Pincode Zone
0               121003            507101    d
1               121003            486886    d
2               121003            532484    d
3               121003            143001    b
4               121003            515591    d
..                 ...               ...  ...
119             121003            325207    b
120             121003            303702    b
121             121003            313301    b
122             121003            173212    e
123             121003            302020    b

[124 rows x 3 columns]

In [647]:
iv_pc = pd.merge(pc_unique,iv,on=['Warehouse Pincode', 'Customer Pincode'],how='left')
iv_pc

,Warehouse Pincode,Customer Pincode,Zone_x,AWB Code,Order ID,Charged Weight,Zone_y,Type of Shipment,Billing Amount (Rs.)
0,121003,507101,d,1091117222124,2001806232,1.30,d,Forward charges,135.0
1,121003,486886,d,1091117222194,2001806273,1.00,d,Forward charges,90.2
2,121003,532484,d,1091117222931,2001806408,2.50,d,Forward charges,224.6
3,121003,143001,b,1091117223244,2001806458,1.00,b,Forward charges,61.3
4,121003,515591,d,1091117229345,2001807012,0.15,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...,...
119,121003,302020,b,1091117904860,2001811039,0.68,d,Forward charges,90.2
120,121003,302020,b,1091121846136,2001811305,0.50,d,Forward charges,45.4
121,121003,325207,b,1091118551656,2001812941,0.73,d,Forward charges,90.2
122,121003,303702,b,1091117614452,2001809383,0.50,d,Forward and RTO charges,86.7
123,121003,313301,b,1091120922803,2001820978,0.50,d,Forward charges,45.4

In [648]:
df1 = pd.merge(df1,iv_pc,on='Order ID',how='left')

In [649]:
df1

,Order ID,AWB Code_x,total_weight_x(kg),Weight Slab X(KG),Total C Weight(KG),Weight C Slab (KG),Warehouse Pincode,Customer Pincode,Zone_x,AWB Code_y,Charged Weight,Zone_y,Type of Shipment,Billing Amount (Rs.)
0,2001806232,1091117222124,1.302,0.5,1.30,1.5,121003,507101,d,1091117222124,1.30,d,Forward charges,135.0
1,2001806273,1091117222194,0.615,0.5,1.00,1.0,121003,486886,d,1091117222194,1.00,d,Forward charges,90.2
2,2001806408,1091117222931,2.265,0.5,2.50,2.5,121003,532484,d,1091117222931,2.50,d,Forward charges,224.6
3,2001806458,1091117223244,0.700,0.5,1.00,1.0,121003,143001,b,1091117223244,1.00,b,Forward charges,61.3
4,2001807012,1091117229345,0.240,0.5,0.15,0.5,121003,515591,d,1091117229345,0.15,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001812941,1091118551656,0.500,0.5,0.73,1.0,121003,325207,b,1091118551656,0.73,d,Forward charges,90.2
120,2001809383,1091117614452,0.607,0.5,0.50,0.5,121003,303702,b,1091117614452,0.50,d,Forward and RTO charges,86.7
121,2001820978,1091120922803,0.515,0.5,0.50,0.5,121003,313301,b,1091120922803,0.50,d,Forward charges,45.4
122,2001811475,1091121844806,0.689,0.5,0.50,0.5,121003,173212,e,1091121844806,0.50,b,Forward charges,33.0
123,2001811305,1091121846136,0.750,0.5,0.50,0.5,121003,302020,b,1091121846136,0.50,d,Forward charges,45.4

In [650]:
df1.rename(columns={'AWB Code_x':'AWB'},inplace=True)

In [651]:
n_rate = rate.T.reset_index()

In [652]:
n_rate

               index     0
0        fwd_a_fixed  29.5
1   fwd_a_additional  23.6
2        fwd_b_fixed  33.0
3   fwd_b_additional  28.3
4        fwd_c_fixed  40.1
5   fwd_c_additional  38.9
6        fwd_d_fixed  45.4
7   fwd_d_additional  44.8
8        fwd_e_fixed  56.6
9   fwd_e_additional  55.5
10       rto_a_fixed  13.6
11  rto_a_additional  23.6
12       rto_b_fixed  20.5
13  rto_b_additional  28.3
14       rto_c_fixed  31.9
15  rto_c_additional  38.9
16       rto_d_fixed  41.3
17  rto_d_additional  44.8
18       rto_e_fixed  50.7
19  rto_e_additional  55.5

In [653]:
n_rate.rename(columns={'index':'key',0:'rate'},inplace=True)
n_rate

                 key  rate
0        fwd_a_fixed  29.5
1   fwd_a_additional  23.6
2        fwd_b_fixed  33.0
3   fwd_b_additional  28.3
4        fwd_c_fixed  40.1
5   fwd_c_additional  38.9
6        fwd_d_fixed  45.4
7   fwd_d_additional  44.8
8        fwd_e_fixed  56.6
9   fwd_e_additional  55.5
10       rto_a_fixed  13.6
11  rto_a_additional  23.6
12       rto_b_fixed  20.5
13  rto_b_additional  28.3
14       rto_c_fixed  31.9
15  rto_c_additional  38.9
16       rto_d_fixed  41.3
17  rto_d_additional  44.8
18       rto_e_fixed  50.7
19  rto_e_additional  55.5

In [654]:
df1['fwd_fixed_zone_key'] = 'fwd_' + df1['Zone_x'] + '_fixed'
df

               SKU  Weight (g)  ExternOrderNo  Order Qty  total_weight_x(kg)
0    8904223815682         210     2001808801        1.0               0.210
1    8904223815859         165     2001820978        1.0               0.165
2    8904223815859         165     2001811363        1.0               0.165
3    8904223815859         165     2001811363        1.0               0.165
4    8904223815859         165     2001808801        1.0               0.165
..             ...         ...            ...        ...                 ...
396  8904223819512         210     2001806733        1.0               0.210
397  8904223819543         300     2001811306        1.0               0.300
398     SACHETS001          10     2001827036        1.0               0.010
399     SACHETS001          10     2001825261        1.0               0.010
400     SACHETS001          10     2001819252        1.0               0.010

[401 rows x 5 columns]

In [655]:
df1.drop('AWB Code_y',axis=1,inplace=True)

In [656]:
df1

,Order ID,AWB,total_weight_x(kg),Weight Slab X(KG),Total C Weight(KG),Weight C Slab (KG),Warehouse Pincode,Customer Pincode,Zone_x,Charged Weight,Zone_y,Type of Shipment,Billing Amount (Rs.),fwd_fixed_zone_key
0,2001806232,1091117222124,1.302,0.5,1.30,1.5,121003,507101,d,1.30,d,Forward charges,135.0,fwd_d_fixed
1,2001806273,1091117222194,0.615,0.5,1.00,1.0,121003,486886,d,1.00,d,Forward charges,90.2,fwd_d_fixed
2,2001806408,1091117222931,2.265,0.5,2.50,2.5,121003,532484,d,2.50,d,Forward charges,224.6,fwd_d_fixed
3,2001806458,1091117223244,0.700,0.5,1.00,1.0,121003,143001,b,1.00,b,Forward charges,61.3,fwd_b_fixed
4,2001807012,1091117229345,0.240,0.5,0.15,0.5,121003,515591,d,0.15,d,Forward charges,45.4,fwd_d_fixed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001812941,1091118551656,0.500,0.5,0.73,1.0,121003,325207,b,0.73,d,Forward charges,90.2,fwd_b_fixed
120,2001809383,1091117614452,0.607,0.5,0.50,0.5,121003,303702,b,0.50,d,Forward and RTO charges,86.7,fwd_b_fixed
121,2001820978,1091120922803,0.515,0.5,0.50,0.5,121003,313301,b,0.50,d,Forward charges,45.4,fwd_b_fixed
122,2001811475,1091121844806,0.689,0.5,0.50,0.5,121003,173212,e,0.50,b,Forward charges,33.0,fwd_e_fixed
123,2001811305,1091121846136,0.750,0.5,0.50,0.5,121003,302020,b,0.50,d,Forward charges,45.4,fwd_b_fixed

In [657]:
df1 = pd.merge(df1, n_rate, left_on = 'fwd_fixed_zone_key', right_on = 'key', how = 'left')

In [658]:
df1

,Order ID,AWB,total_weight_x(kg),Weight Slab X(KG),Total C Weight(KG),Weight C Slab (KG),Warehouse Pincode,Customer Pincode,Zone_x,Charged Weight,Zone_y,Type of Shipment,Billing Amount (Rs.),fwd_fixed_zone_key,key,rate
0,2001806232,1091117222124,1.302,0.5,1.30,1.5,121003,507101,d,1.30,d,Forward charges,135.0,fwd_d_fixed,fwd_d_fixed,45.4
1,2001806273,1091117222194,0.615,0.5,1.00,1.0,121003,486886,d,1.00,d,Forward charges,90.2,fwd_d_fixed,fwd_d_fixed,45.4
2,2001806408,1091117222931,2.265,0.5,2.50,2.5,121003,532484,d,2.50,d,Forward charges,224.6,fwd_d_fixed,fwd_d_fixed,45.4
3,2001806458,1091117223244,0.700,0.5,1.00,1.0,121003,143001,b,1.00,b,Forward charges,61.3,fwd_b_fixed,fwd_b_fixed,33.0
4,2001807012,1091117229345,0.240,0.5,0.15,0.5,121003,515591,d,0.15,d,Forward charges,45.4,fwd_d_fixed,fwd_d_fixed,45.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001812941,1091118551656,0.500,0.5,0.73,1.0,121003,325207,b,0.73,d,Forward charges,90.2,fwd_b_fixed,fwd_b_fixed,33.0
120,2001809383,1091117614452,0.607,0.5,0.50,0.5,121003,303702,b,0.50,d,Forward and RTO charges,86.7,fwd_b_fixed,fwd_b_fixed,33.0
121,2001820978,1091120922803,0.515,0.5,0.50,0.5,121003,313301,b,0.50,d,Forward charges,45.4,fwd_b_fixed,fwd_b_fixed,33.0
122,2001811475,1091121844806,0.689,0.5,0.50,0.5,121003,173212,e,0.50,b,Forward charges,33.0,fwd_e_fixed,fwd_e_fixed,56.6
123,2001811305,1091121846136,0.750,0.5,0.50,0.5,121003,302020,b,0.50,d,Forward charges,45.4,fwd_b_fixed,fwd_b_fixed,33.0

In [659]:
df1.drop(['key'],axis=1,inplace=True)

In [660]:
df1

,Order ID,AWB,total_weight_x(kg),Weight Slab X(KG),Total C Weight(KG),Weight C Slab (KG),Warehouse Pincode,Customer Pincode,Zone_x,Charged Weight,Zone_y,Type of Shipment,Billing Amount (Rs.),fwd_fixed_zone_key,rate
0,2001806232,1091117222124,1.302,0.5,1.30,1.5,121003,507101,d,1.30,d,Forward charges,135.0,fwd_d_fixed,45.4
1,2001806273,1091117222194,0.615,0.5,1.00,1.0,121003,486886,d,1.00,d,Forward charges,90.2,fwd_d_fixed,45.4
2,2001806408,1091117222931,2.265,0.5,2.50,2.5,121003,532484,d,2.50,d,Forward charges,224.6,fwd_d_fixed,45.4
3,2001806458,1091117223244,0.700,0.5,1.00,1.0,121003,143001,b,1.00,b,Forward charges,61.3,fwd_b_fixed,33.0
4,2001807012,1091117229345,0.240,0.5,0.15,0.5,121003,515591,d,0.15,d,Forward charges,45.4,fwd_d_fixed,45.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001812941,1091118551656,0.500,0.5,0.73,1.0,121003,325207,b,0.73,d,Forward charges,90.2,fwd_b_fixed,33.0
120,2001809383,1091117614452,0.607,0.5,0.50,0.5,121003,303702,b,0.50,d,Forward and RTO charges,86.7,fwd_b_fixed,33.0
121,2001820978,1091120922803,0.515,0.5,0.50,0.5,121003,313301,b,0.50,d,Forward charges,45.4,fwd_b_fixed,33.0
122,2001811475,1091121844806,0.689,0.5,0.50,0.5,121003,173212,e,0.50,b,Forward charges,33.0,fwd_e_fixed,56.6
123,2001811305,1091121846136,0.750,0.5,0.50,0.5,121003,302020,b,0.50,d,Forward charges,45.4,fwd_b_fixed,33.0

In [661]:
df1['fwd_add_zone_key'] = 'fwd_' + df1['Zone_x'] + '_additional'

In [662]:
df1 = pd.merge(df1, n_rate, left_on = 'fwd_add_zone_key', right_on = 'key', how = 'left')

In [663]:
df1

,Order ID,AWB,total_weight_x(kg),Weight Slab X(KG),Total C Weight(KG),Weight C Slab (KG),Warehouse Pincode,Customer Pincode,Zone_x,Charged Weight,Zone_y,Type of Shipment,Billing Amount (Rs.),fwd_fixed_zone_key,rate_x,fwd_add_zone_key,key,rate_y
0,2001806232,1091117222124,1.302,0.5,1.30,1.5,121003,507101,d,1.30,d,Forward charges,135.0,fwd_d_fixed,45.4,fwd_d_additional,fwd_d_additional,44.8
1,2001806273,1091117222194,0.615,0.5,1.00,1.0,121003,486886,d,1.00,d,Forward charges,90.2,fwd_d_fixed,45.4,fwd_d_additional,fwd_d_additional,44.8
2,2001806408,1091117222931,2.265,0.5,2.50,2.5,121003,532484,d,2.50,d,Forward charges,224.6,fwd_d_fixed,45.4,fwd_d_additional,fwd_d_additional,44.8
3,2001806458,1091117223244,0.700,0.5,1.00,1.0,121003,143001,b,1.00,b,Forward charges,61.3,fwd_b_fixed,33.0,fwd_b_additional,fwd_b_additional,28.3
4,2001807012,1091117229345,0.240,0.5,0.15,0.5,121003,515591,d,0.15,d,Forward charges,45.4,fwd_d_fixed,45.4,fwd_d_additional,fwd_d_additional,44.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001812941,1091118551656,0.500,0.5,0.73,1.0,121003,325207,b,0.73,d,Forward charges,90.2,fwd_b_fixed,33.0,fwd_b_additional,fwd_b_additional,28.3
120,2001809383,1091117614452,0.607,0.5,0.50,0.5,121003,303702,b,0.50,d,Forward and RTO charges,86.7,fwd_b_fixed,33.0,fwd_b_additional,fwd_b_additional,28.3
121,2001820978,1091120922803,0.515,0.5,0.50,0.5,121003,313301,b,0.50,d,Forward charges,45.4,fwd_b_fixed,33.0,fwd_b_additional,fwd_b_additional,28.3
122,2001811475,1091121844806,0.689,0.5,0.50,0.5,121003,173212,e,0.50,b,Forward charges,33.0,fwd_e_fixed,56.6,fwd_e_additional,fwd_e_additional,55.5
123,2001811305,1091121846136,0.750,0.5,0.50,0.5,121003,302020,b,0.50,d,Forward charges,45.4,fwd_b_fixed,33.0,fwd_b_additional,fwd_b_additional,28.3

In [664]:
df1.rename(columns={'rate_x':'fix_rate','rate_y':'adi_rate'},inplace=True)
df1.drop('key',axis=1,inplace=True)

In [665]:
df1

,Order ID,AWB,total_weight_x(kg),Weight Slab X(KG),Total C Weight(KG),Weight C Slab (KG),Warehouse Pincode,Customer Pincode,Zone_x,Charged Weight,Zone_y,Type of Shipment,Billing Amount (Rs.),fwd_fixed_zone_key,fix_rate,fwd_add_zone_key,adi_rate
0,2001806232,1091117222124,1.302,0.5,1.30,1.5,121003,507101,d,1.30,d,Forward charges,135.0,fwd_d_fixed,45.4,fwd_d_additional,44.8
1,2001806273,1091117222194,0.615,0.5,1.00,1.0,121003,486886,d,1.00,d,Forward charges,90.2,fwd_d_fixed,45.4,fwd_d_additional,44.8
2,2001806408,1091117222931,2.265,0.5,2.50,2.5,121003,532484,d,2.50,d,Forward charges,224.6,fwd_d_fixed,45.4,fwd_d_additional,44.8
3,2001806458,1091117223244,0.700,0.5,1.00,1.0,121003,143001,b,1.00,b,Forward charges,61.3,fwd_b_fixed,33.0,fwd_b_additional,28.3
4,2001807012,1091117229345,0.240,0.5,0.15,0.5,121003,515591,d,0.15,d,Forward charges,45.4,fwd_d_fixed,45.4,fwd_d_additional,44.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001812941,1091118551656,0.500,0.5,0.73,1.0,121003,325207,b,0.73,d,Forward charges,90.2,fwd_b_fixed,33.0,fwd_b_additional,28.3
120,2001809383,1091117614452,0.607,0.5,0.50,0.5,121003,303702,b,0.50,d,Forward and RTO charges,86.7,fwd_b_fixed,33.0,fwd_b_additional,28.3
121,2001820978,1091120922803,0.515,0.5,0.50,0.5,121003,313301,b,0.50,d,Forward charges,45.4,fwd_b_fixed,33.0,fwd_b_additional,28.3
122,2001811475,1091121844806,0.689,0.5,0.50,0.5,121003,173212,e,0.50,b,Forward charges,33.0,fwd_e_fixed,56.6,fwd_e_additional,55.5
123,2001811305,1091121846136,0.750,0.5,0.50,0.5,121003,302020,b,0.50,d,Forward charges,45.4,fwd_b_fixed,33.0,fwd_b_additional,28.3

In [666]:
df1['rto_fixed_zone_key'] = 'rto_' + df1['Zone_x'] + '_fixed'

In [667]:
df1 = pd.merge(df1, n_rate, left_on = 'rto_fixed_zone_key', right_on = 'key', how = 'left')

In [668]:
df1

,Order ID,AWB,total_weight_x(kg),Weight Slab X(KG),Total C Weight(KG),Weight C Slab (KG),Warehouse Pincode,Customer Pincode,Zone_x,Charged Weight,Zone_y,Type of Shipment,Billing Amount (Rs.),fwd_fixed_zone_key,fix_rate,fwd_add_zone_key,adi_rate,rto_fixed_zone_key,key,rate
0,2001806232,1091117222124,1.302,0.5,1.30,1.5,121003,507101,d,1.30,d,Forward charges,135.0,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,rto_d_fixed,41.3
1,2001806273,1091117222194,0.615,0.5,1.00,1.0,121003,486886,d,1.00,d,Forward charges,90.2,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,rto_d_fixed,41.3
2,2001806408,1091117222931,2.265,0.5,2.50,2.5,121003,532484,d,2.50,d,Forward charges,224.6,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,rto_d_fixed,41.3
3,2001806458,1091117223244,0.700,0.5,1.00,1.0,121003,143001,b,1.00,b,Forward charges,61.3,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,rto_b_fixed,20.5
4,2001807012,1091117229345,0.240,0.5,0.15,0.5,121003,515591,d,0.15,d,Forward charges,45.4,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,rto_d_fixed,41.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001812941,1091118551656,0.500,0.5,0.73,1.0,121003,325207,b,0.73,d,Forward charges,90.2,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,rto_b_fixed,20.5
120,2001809383,1091117614452,0.607,0.5,0.50,0.5,121003,303702,b,0.50,d,Forward and RTO charges,86.7,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,rto_b_fixed,20.5
121,2001820978,1091120922803,0.515,0.5,0.50,0.5,121003,313301,b,0.50,d,Forward charges,45.4,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,rto_b_fixed,20.5
122,2001811475,1091121844806,0.689,0.5,0.50,0.5,121003,173212,e,0.50,b,Forward charges,33.0,fwd_e_fixed,56.6,fwd_e_additional,55.5,rto_e_fixed,rto_e_fixed,50.7
123,2001811305,1091121846136,0.750,0.5,0.50,0.5,121003,302020,b,0.50,d,Forward charges,45.4,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,rto_b_fixed,20.5

In [669]:
df1.rename(columns = {'rate':'Fixed Rto zone rate'}, inplace = True)
df1.drop('key', axis = 1, inplace = True)
df1

,Order ID,AWB,total_weight_x(kg),Weight Slab X(KG),Total C Weight(KG),Weight C Slab (KG),Warehouse Pincode,Customer Pincode,Zone_x,Charged Weight,Zone_y,Type of Shipment,Billing Amount (Rs.),fwd_fixed_zone_key,fix_rate,fwd_add_zone_key,adi_rate,rto_fixed_zone_key,Fixed Rto zone rate
0,2001806232,1091117222124,1.302,0.5,1.30,1.5,121003,507101,d,1.30,d,Forward charges,135.0,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3
1,2001806273,1091117222194,0.615,0.5,1.00,1.0,121003,486886,d,1.00,d,Forward charges,90.2,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3
2,2001806408,1091117222931,2.265,0.5,2.50,2.5,121003,532484,d,2.50,d,Forward charges,224.6,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3
3,2001806458,1091117223244,0.700,0.5,1.00,1.0,121003,143001,b,1.00,b,Forward charges,61.3,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,20.5
4,2001807012,1091117229345,0.240,0.5,0.15,0.5,121003,515591,d,0.15,d,Forward charges,45.4,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001812941,1091118551656,0.500,0.5,0.73,1.0,121003,325207,b,0.73,d,Forward charges,90.2,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,20.5
120,2001809383,1091117614452,0.607,0.5,0.50,0.5,121003,303702,b,0.50,d,Forward and RTO charges,86.7,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,20.5
121,2001820978,1091120922803,0.515,0.5,0.50,0.5,121003,313301,b,0.50,d,Forward charges,45.4,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,20.5
122,2001811475,1091121844806,0.689,0.5,0.50,0.5,121003,173212,e,0.50,b,Forward charges,33.0,fwd_e_fixed,56.6,fwd_e_additional,55.5,rto_e_fixed,50.7
123,2001811305,1091121846136,0.750,0.5,0.50,0.5,121003,302020,b,0.50,d,Forward charges,45.4,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,20.5

In [670]:
df1['rto_add_zone_key'] = 'rto_' + df1['Zone_x'] + '_additional'

In [671]:
df1 = pd.merge(df1, n_rate, left_on = 'rto_add_zone_key', right_on = 'key', how = 'left')

In [672]:
df1.rename(columns = {'rate':'Additional Rto zone rate'}, inplace = True)
df1.drop('key', axis = 1, inplace = True)

In [673]:
df1

,Order ID,AWB,total_weight_x(kg),Weight Slab X(KG),Total C Weight(KG),Weight C Slab (KG),Warehouse Pincode,Customer Pincode,Zone_x,Charged Weight,...,Type of Shipment,Billing Amount (Rs.),fwd_fixed_zone_key,fix_rate,fwd_add_zone_key,adi_rate,rto_fixed_zone_key,Fixed Rto zone rate,rto_add_zone_key,Additional Rto zone rate
0,2001806232,1091117222124,1.302,0.5,1.30,1.5,121003,507101,d,1.30,...,Forward charges,135.0,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3,rto_d_additional,44.8
1,2001806273,1091117222194,0.615,0.5,1.00,1.0,121003,486886,d,1.00,...,Forward charges,90.2,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3,rto_d_additional,44.8
2,2001806408,1091117222931,2.265,0.5,2.50,2.5,121003,532484,d,2.50,...,Forward charges,224.6,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3,rto_d_additional,44.8
3,2001806458,1091117223244,0.700,0.5,1.00,1.0,121003,143001,b,1.00,...,Forward charges,61.3,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,20.5,rto_b_additional,28.3
4,2001807012,1091117229345,0.240,0.5,0.15,0.5,121003,515591,d,0.15,...,Forward charges,45.4,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,41.3,rto_d_additional,44.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001812941,1091118551656,0.500,0.5,0.73,1.0,121003,325207,b,0.73,...,Forward charges,90.2,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,20.5,rto_b_additional,28.3
120,2001809383,1091117614452,0.607,0.5,0.50,0.5,121003,303702,b,0.50,...,Forward and RTO charges,86.7,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,20.5,rto_b_additional,28.3
121,2001820978,1091120922803,0.515,0.5,0.50,0.5,121003,313301,b,0.50,...,Forward charges,45.4,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,20.5,rto_b_additional,28.3
122,2001811475,1091121844806,0.689,0.5,0.50,0.5,121003,173212,e,0.50,...,Forward charges,33.0,fwd_e_fixed,56.6,fwd_e_additional,55.5,rto_e_fixed,50.7,rto_e_additional,55.5
123,2001811305,1091121846136,0.750,0.5,0.50,0.5,121003,302020,b,0.50,...,Forward charges,45.4,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,20.5,rto_b_additional,28.3

In [674]:
df1['Type of Shipment'].unique()

array(['Forward charges', 'Forward and RTO charges'], dtype=object)

In [675]:
df1['Fixed Rto zone rate'] = np.where(df1['Type of Shipment'] == 'Forward charges', 0, df1['Fixed Rto zone rate'])
df1['Additional Rto zone rate'] = np.where(df1['Type of Shipment'] == 'Forward charges', 0, df1['Additional Rto zone rate'])

In [620]:
df1

,Order ID,AWB,total_weight_x(kg),Weight Slab X(KG),Total C Weight(KG),Weight C Slab (KG),Warehouse Pincode,Customer Pincode,Zone_x,Charged Weight,...,Type of Shipment,Billing Amount (Rs.),fwd_fixed_zone_key,fix_rate,fwd_add_zone_key,adi_rate,rto_fixed_zone_key,Fixed Rto zone rate,rto_add_zone_key,Additional Rto zone rate
0,2001806232,1091117222124,1.302,0.5,1.30,1.5,121003,507101,d,1.30,...,Forward charges,135.0,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,0,rto_d_additional,0
1,2001806273,1091117222194,0.615,0.5,1.00,1.0,121003,486886,d,1.00,...,Forward charges,90.2,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,0,rto_d_additional,0
2,2001806408,1091117222931,2.265,0.5,2.50,2.5,121003,532484,d,2.50,...,Forward charges,224.6,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,0,rto_d_additional,0
3,2001806458,1091117223244,0.700,0.5,1.00,1.0,121003,143001,b,1.00,...,Forward charges,61.3,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,0,rto_b_additional,0
4,2001807012,1091117229345,0.240,0.5,0.15,0.5,121003,515591,d,0.15,...,Forward charges,45.4,fwd_d_fixed,45.4,fwd_d_additional,44.8,rto_d_fixed,0,rto_d_additional,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001812941,1091118551656,0.500,0.5,0.73,1.0,121003,325207,b,0.73,...,Forward charges,90.2,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,0,rto_b_additional,0
120,2001809383,1091117614452,0.607,0.5,0.50,0.5,121003,303702,b,0.50,...,Forward and RTO charges,86.7,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,rto_b_fixed,rto_b_additional,rto_b_additional
121,2001820978,1091120922803,0.515,0.5,0.50,0.5,121003,313301,b,0.50,...,Forward charges,45.4,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,0,rto_b_additional,0
122,2001811475,1091121844806,0.689,0.5,0.50,0.5,121003,173212,e,0.50,...,Forward charges,33.0,fwd_e_fixed,56.6,fwd_e_additional,55.5,rto_e_fixed,0,rto_e_additional,0
123,2001811305,1091121846136,0.750,0.5,0.50,0.5,121003,302020,b,0.50,...,Forward charges,45.4,fwd_b_fixed,33.0,fwd_b_additional,28.3,rto_b_fixed,0,rto_b_additional,0

In [678]:
df1['Expected Bill X'] = df1['fix_rate'] + (df1['adi_rate']*(df1['Weight Slab X(KG)']-0.5)*2) + df1['Fixed Rto zone rate'] + (df1['Additional Rto zone rate']*(df1['Weight Slab X(KG)']-0.5)*2)

In [679]:
df1.columns

Index(['Order ID', 'AWB', 'total_weight_x(kg)', 'Weight Slab X(KG)',
       'Total C Weight(KG)', 'Weight C Slab (KG)', 'Warehouse Pincode',
       'Customer Pincode', 'Zone_x', 'Charged Weight', 'Zone_y',
       'Type of Shipment', 'Billing Amount (Rs.)', 'fwd_fixed_zone_key',
       'fix_rate', 'fwd_add_zone_key', 'adi_rate', 'rto_fixed_zone_key',
       'Fixed Rto zone rate', 'rto_add_zone_key', 'Additional Rto zone rate',
       'Expected Bill X'],
      dtype='object')

In [681]:
final_df = df1.drop(['fwd_fixed_zone_key',
       'fix_rate', 'fwd_add_zone_key', 'adi_rate',
       'rto_fixed_zone_key', 'Fixed Rto zone rate', 'rto_add_zone_key',
       'Additional Rto zone rate'], axis = 1)

In [682]:
final_df

,Order ID,AWB,total_weight_x(kg),Weight Slab X(KG),Total C Weight(KG),Weight C Slab (KG),Warehouse Pincode,Customer Pincode,Zone_x,Charged Weight,Zone_y,Type of Shipment,Billing Amount (Rs.),Expected Bill X
0,2001806232,1091117222124,1.302,0.5,1.30,1.5,121003,507101,d,1.30,d,Forward charges,135.0,45.4
1,2001806273,1091117222194,0.615,0.5,1.00,1.0,121003,486886,d,1.00,d,Forward charges,90.2,45.4
2,2001806408,1091117222931,2.265,0.5,2.50,2.5,121003,532484,d,2.50,d,Forward charges,224.6,45.4
3,2001806458,1091117223244,0.700,0.5,1.00,1.0,121003,143001,b,1.00,b,Forward charges,61.3,33.0
4,2001807012,1091117229345,0.240,0.5,0.15,0.5,121003,515591,d,0.15,d,Forward charges,45.4,45.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001812941,1091118551656,0.500,0.5,0.73,1.0,121003,325207,b,0.73,d,Forward charges,90.2,33.0
120,2001809383,1091117614452,0.607,0.5,0.50,0.5,121003,303702,b,0.50,d,Forward and RTO charges,86.7,53.5
121,2001820978,1091120922803,0.515,0.5,0.50,0.5,121003,313301,b,0.50,d,Forward charges,45.4,33.0
122,2001811475,1091121844806,0.689,0.5,0.50,0.5,121003,173212,e,0.50,b,Forward charges,33.0,56.6
123,2001811305,1091121846136,0.750,0.5,0.50,0.5,121003,302020,b,0.50,d,Forward charges,45.4,33.0

In [683]:
final_df['Bill Difference'] = final_df['Expected Bill X'].round(2) - final_df['Billing Amount (Rs.)'].round(2)
final_df

,Order ID,AWB,total_weight_x(kg),Weight Slab X(KG),Total C Weight(KG),Weight C Slab (KG),Warehouse Pincode,Customer Pincode,Zone_x,Charged Weight,Zone_y,Type of Shipment,Billing Amount (Rs.),Expected Bill X,Bill Difference
0,2001806232,1091117222124,1.302,0.5,1.30,1.5,121003,507101,d,1.30,d,Forward charges,135.0,45.4,-89.6
1,2001806273,1091117222194,0.615,0.5,1.00,1.0,121003,486886,d,1.00,d,Forward charges,90.2,45.4,-44.8
2,2001806408,1091117222931,2.265,0.5,2.50,2.5,121003,532484,d,2.50,d,Forward charges,224.6,45.4,-179.2
3,2001806458,1091117223244,0.700,0.5,1.00,1.0,121003,143001,b,1.00,b,Forward charges,61.3,33.0,-28.3
4,2001807012,1091117229345,0.240,0.5,0.15,0.5,121003,515591,d,0.15,d,Forward charges,45.4,45.4,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001812941,1091118551656,0.500,0.5,0.73,1.0,121003,325207,b,0.73,d,Forward charges,90.2,33.0,-57.2
120,2001809383,1091117614452,0.607,0.5,0.50,0.5,121003,303702,b,0.50,d,Forward and RTO charges,86.7,53.5,-33.2
121,2001820978,1091120922803,0.515,0.5,0.50,0.5,121003,313301,b,0.50,d,Forward charges,45.4,33.0,-12.4
122,2001811475,1091121844806,0.689,0.5,0.50,0.5,121003,173212,e,0.50,b,Forward charges,33.0,56.6,23.6
123,2001811305,1091121846136,0.750,0.5,0.50,0.5,121003,302020,b,0.50,d,Forward charges,45.4,33.0,-12.4

In [684]:
final_df.to_csv('Resultant Table.csv')

# Output Data 2

In [685]:
final_df['Result'] = np.where(final_df['Bill Difference'] == 0, 'Correctly Charged',
                             np.where(final_df['Bill Difference']>0, 'Under Charged', 
                                     np.where(final_df['Bill Difference']<0, 'Over Charged', None)))

In [686]:
final_df['Result'].unique()

array(['Over Charged', 'Correctly Charged', 'Under Charged'], dtype=object)

In [687]:
final_summary = final_df.groupby('Result').agg({'Order ID':'count', 'Billing Amount (Rs.)':'sum'})

In [688]:
final_summary.reset_index(inplace = True)

In [689]:
final_summary

              Result  Order ID  Billing Amount (Rs.)
0  Correctly Charged         8                 457.5
1       Over Charged       114               13124.7
2      Under Charged         2                  66.0

In [690]:
final_summary.to_csv('Summary Table.csv')